/*              Gallery            */
*
{
    margin: 0;
    padding: 0;
}
section{
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}
section ul{
    display: flex;
    margin-bottom: 10px;
}
section ul li{
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
section ul li.active{
    background: #03a9f4;
    color: #fff;
}
.Gallery{
    display: flex;
    flex-wrap: wrap;
} 
.Gallery .itemBox{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
}
.Gallery .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
    }
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
  }
 /*  